
img
{
	border: none;
}

pre
{
        border: 1px solid #CBCBCB;
        background-color: #FFF8ED;
        color: black;
}

.warning
{
	color: orange;
}

.strong
{
	font-weight: bold;
}

.caution
{
	color: red;
}

.action
{
	font-variant: small-caps;
	font-style: oblique;
}

.package
{
	font-variant: small-caps;
	color: blue;
}

